<p id="notice"><%= notice %></p>

<h1><%= @league.name %></h1>
<p>
  <b>Description:</b>
  <%= @league.description %>
</p>

<% @league.get_players_in_point_order.each do |player| %>
  <div class="player">
    name: <%= player.name %>
    points: <%= player.score %>
  </div>
<% end %>

<%= link_to 'Back', leagues_path %>
