<p id="notice"><%= notice %></p>

<h1><%= @league.name %></h1>
<p>
  <b>Description:</b>
  <%= @league.description %>
</p>

<% @league.get_players_in_point_order.each do |player| %>
  <%= render :partial => "player", :locals => { :player => player } %>
<% end %>

<%= link_to 'Back', leagues_path %>
