<p id="notice"><%= notice %></p>

<h2 id="player-name"><%= @player.name %></h2>
<p>
  <%= @player.gravatar_img(128).html_safe %>
</p>

<h3>Leagues</h3>
<% @player.get_leagues_in_point_order.each do |league| %>
  <p>
    <b><%= league.name %></b> <%= league.score %> points
  </p>
<% end %>

<%= link_to 'Back', players_path %>

<script type="text/javascript">
  $(function(){
    player = new Player;
    player.bind('change:name', function(model, name){
      $('#player-name').text(name);
    });
    
    $('#player-name').click(function(){
      player.promptName();
    });
  });
</script>