<p id="notice"><%= notice %></p>
<div class="player">
  <h2 class="player-name"><%= @player.name %></h2>
  <p>
    <%= @player.gravatar_img(128).html_safe %>
  </p>
</div>

<div class="league-list">
  <h3>Leagues</h3>
  <% @player.get_leagues_in_point_order.each do |league| %>
    <p>
      <b><%= league.name %></b> <%= league.score %> points
    </p>
  <% end %>
</div>
<%= link_to 'Back', players_path %>

<script type="text/javascript">
  $(function(){
    player = new Player;
    player.bind('change:name', function(model, name){
      $('#player-name').text(name);
    });
    
    var league_list = new LeagueList();
  });
</script>