%h1= "add a game"
%form{:method => "POST"}
  %input{:type=>"hidden", :value=> league_id, :name => "league_id"}
    -[1,2].each do |i|
      .form-block
        %h3= "player #{i}"
        .form-input
          %label{:for => "participants[#{i}][player_id]"}= "player"
          %select{:name => "participants[#{i}][player_id]", :id => "participants[#{i}][player_id]"}
            -players.each do |p|
              %option{:value => p["_id"]}= p.name
            end
        .form-input
          %label{:for => "participants[#{i}][result]"}= "result"
          %select{:name => "participants[#{i}][result]", :id => "participants[#{i}][result]"}
            -["win", "loss", "draw"].each do |res|
              %option= res
            end
    .form-block
      .form-input
        %input{:type => "submit"}
