%h1= "register as a new player"
%form{:action => "/player", :method => "POST"}
  .form-block
    .form-input
      %label{:for => "player-name"}= "name"
      %input{:type => "text", :name => "name", :id => "player-name"}
    .form-input
      %label{:for => "player-email"}= "email"
      %input{:type => "text", :name => "email", :id => "player-email"}
    .form-input
      %label{:for => "player-password"}= "password"
      %input{:type => "password", :name => "password", :id => "player-password"}
    .form-input
      %label{:for => "player-receive-notices"}= "receive notices"
      %input{:type => "checkbox", :name => "receive_notices", :id => "player-receive-notices", :value => 1}
      %input{:type => "hidden", :name => "receive_notices", :value => 0}
    .form-submit
      %input{:type => "submit"}
